#keyboard-modal {
  position: absolute;
}

.keyboard-modal-container {
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;
}
