.image-container {
  width: 45%;
  height: 80%;
  background-color: #dfdfdf;
  border-radius: 20px;
  padding: 0px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-wrapper {
  padding: 20px 0px;
  height: 80%;
  width: 100%;
  /* background-image: url("../../../assets/lemon.jpg"); */
  background-color: #cfcfcf;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper .change-item {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: small;
  background-color: #3d7090;
  padding: 5px 10px;
  color: #fcfcfc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center;
  transform: scale(0);
}

.change-item.disabled {
  opacity: 0.5;
  cursor: default;
}

#change-item.show-change-item {
  transform: scale(1);
}

.image-wrapper .change-item p {
  padding: 0;
  margin: 0;
}

@media (max-width: 900px) {
  .image-container {
    width: 90%;
    max-width: 560px;
  }

  .image-wrapper {
    height: 85%;
  }
}
